<div
  class="flex items-start justify-between bg-linear-to-r from-green-900 to-green-700 md:p-6 p-4 text-white/95"
>
  <div>
    <div class="flex">
      <div class="md:text-7xl text-4xl mt-6 mb-8 font-bold tracking-tight">
        Vorlagensammlung
      </div>
    </div>
    <div class="max-w-5xl md:text-2xl text-xl mb-8 leading-normal font-normal">
      Diese Seite enthält eine Sammlung von Vorlagen aus den Themenbereichen
      Projektmanagement, Business Analysis, Requirements Engineering, UX Design
      und Prozessmanagement. Alle Vorlagen stehen als Download zur Verfügung und
      können frei verwendet und angepasst werden.
    </div>
    <div class="mb-12 text-sm text-white/75">
      © 2026 Marcel Ramseyer · <span class="underline underline-offset-3"
        ><a href="mailto:marcelramseyer78@gmail.com">Feedback</a>
      </span> · Letzte Aktualisierung: 25.01.2026
    </div>
  </div>
  <div class="flex mt-5">
    <!-- <div class="text-7xl leading-19 text-center border-r w-20 h-20">✻</div>
      <div class="p-3 text-xs max-w-sm leading-normal">
        BA Templates erstellt und gepflegt von Marcel Ramseyer. Feeback
        jederzeit gerne per <span class="underline">E-Mail</span>. Der Code ist
        auf <span class="underline">GitHub</span> verfügbar. Letzte Aktualisierung:
        20.04.2025.
      </div> -->
  </div>
</div>
